.answer__quize{
     background-color: rgb(189, 255, 189);
     color:rgb(95, 249, 95);
     border: 1px solid rgb(95, 249, 95);
     border-radius: 5px;
     width: fit-content;
     padding: 5px 25px;
     
}
.choice__quize{
     background-color: rgb(255, 189, 189);
     color:rgb(249, 95, 95);
     border: 1px solid rgb(249, 95, 95);
     border-radius: 5px;
     width: fit-content;
     padding: 5px 25px;
     
}

.explications{
     background-color: rgb(191, 223, 242);
     color:rgb(109, 172, 243);
     border: 1px solid rgb(191, 223, 242);
     border-radius: 5px;
     width: fit-content;
     padding: 5px 25px;
     
}